body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
video{
    position: fixed;   /* mantém o vídeo fixo no fundo */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain; /* preenche sem distorcer */
}